<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header class="bg-slate-600 py-8 px-4">
  <p class="text-xl text-slate-200">
    Ardalo Digital Platform Showcase
  </p>
</header>


<div class="frontpage-content-wrapper">
  <h1>This is the register page</h1>
  <p th:text="${currentTimestamp}"/>
  <p><a href="/login">Login</a></p>
  <p><a href="/my/account">My Account</a></p>
</div>


<footer class="bg-white py-8 mt-8 border-t border-gray-200">
  <p class="text-base text-center text-gray-400">
    &copy; 2022 Torsten Blasche. All rights reserved.
  </p>
  <div class="text-center p-4">
    <a href="/" class="mx-1 hover:text-blue-600">Home</a>
    <a href="/login" class="mx-1 hover:text-blue-600">Login</a>
    <a href="/register" class="mx-1 hover:text-blue-600">Register</a>
    <a href="/my/account" class="mx-1 hover:text-blue-600">My Account</a>
    <a href="/does-not-exist" class="mx-1 hover:text-blue-600">404</a>
  </div>
</footer>
</body>
</html>
